
@inherits LayoutComponentBase
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight" Timeout="3" />
<div class="main">
    <div class="context px-4">
        @Body
    </div>
</div>
