
@*<div id="wrapper" class="@NavMenuCssClass" @onclick="ToggleNavMenu">*@
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SaC</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/productlist">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Sản phẩm</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/orderlist">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Đơn hàng</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/customerlist">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Khách hàng</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/userlist">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Quản lý</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/voucherlist">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Phiếu giảm giá</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Thống kê</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/shipinfolist">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Thông tin vận chuyển</span>
        </a>
    </li>
</ul>
@*</div>*@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
