<h3>Chi tiết đơn hàng</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Ngày đặt</dt>
        <dd class="col-sm-10">
            20/10/2021
        </dd>

        <dt class="col-sm-2">Tổng tiền</dt>
        <dd class="col-sm-10">
            200000
        </dd>

        <dt class="col-sm-2">Trạng thái</dt>
        <dd class="col-sm-10">
            Đã giao
        </dd>

        <dt class="col-sm-2">Ghi chú</dt>
        <dd class="col-sm-10">
            ABC
        </dd>
        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class="col-sm-10">
            SG
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Hình</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in listDonhang)
            {
                @if (item != null)
                {*@
                    <tr>
                        <td>
                            Balo
                        </td>
                        <td>
                            @*@{
                                temp = imgUrl + item.Dish.Image;
                            }
                            <img src="@temp" style="width:150px" />*@
                        </td>
                        <td>
                           50
                        </td>
                        <td>
                            69696969
                        </td>
                        <td>
                            DEF
                        </td>
                    </tr>
                @*}
            }*@
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-info" href="/">Trang chủ</a> |
    <a class="btn" href="/History">Danh sách</a>
</div>
@code {

}
