<h3>Thông tin vận chuyển</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">Mã đơn hàng</dt>
        <dd class="col-sm-8">
            1
        </dd>

        <dt class="col-sm-4">Tên khách hàng</dt>
        <dd class="col-sm-8">
            Võ Hoàng Thanh
        </dd>

        <dt class="col-sm-4">Địa chỉ nhận hàng</dt>
        <dd class="col-sm-8">
            Thuận An, Bình Dương
        </dd>

        <dt class="col-sm-4">Số điện thoại</dt>
        <dd class="col-sm-8">
            0901616631
        </dd>
        <dt class="col-sm-4">Phương thức thanh toán</dt>
        <dd class="col-sm-8">
            Thanh toán khi nhận hàng
        </dd>
        <dt class="col-sm-4">Ghi chú</dt>
        <dd class="col-sm-8">
            Mặt khách nhìn hơi đù
        </dd>
        <dt class="col-sm-4">Số tiền thu hộ</dt>
        <dd class="col-sm-8">
            550000
        </dd>
        <dt class="col-sm-4">Đối tác giao hàng</dt>
        <dd class="col-sm-8">
            Now
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" href="/">Trang chủ</a> |
    <a class="btn" href="/History">Danh sách</a>
</div>
@code {

}
