@page "/changepass"
@layout MainLayout
@inject Share.Interfaces.IUserSvc _userService
@inject Share.Interfaces.IEncodeHelper _encodeHelper
@inject NavigationManager navigationManager
@using Share.Models
@using System.Security.Claims
@using Syncfusion.Blazor.Popups
<SfDialog Width="500px" Height="250px" IsModal="true" @bind-Visible="IsVisible">
    <DialogTemplates>
        <Header><i class="fa fa-envelope-open" aria-hidden="true"></i> Thông báo !</Header>
        <Content><div class="ds">@dialogContent</div></Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="DialogEffect.FlipYRight" Duration=500 />
    <DialogButtons>
        <DialogButton Content="OK" IsPrimary="true" OnClick="() => CloseDialog(reset)" />
    </DialogButtons>
</SfDialog>
<div class="container mt-5">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card card-signin flex-row shadow-lg card-signup">
                <div class="card-body">
                    <h2 class="card-title text-center font-weight-bold text-uppercase">ĐỔI MẬT KHẨU</h2>
                    <div class="col-md-12">
                        <form @onsubmit="ChangePass">
                            <div class="form-label-group mt-3">
                                <label class="control-label">Mật khẩu cũ</label>
                                <input type="password" class="form-control" @bind="oldPass" required autofocus />
                            </div>

                            <div class="form-label-group mt-3">
                                <label class="control-label">Mật khẩu mới</label>
                                <input type="password" class="form-control" @bind="newPass" required />
                            </div>

                            <div class="form-label-group mt-3">
                                <label class="control-label">Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" @bind="confirmPass" required />
                            </div>
                            <div class="form-label-group mt-3">
                                <button class="btn btn-info" type="submit">Đổi mật khẩu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<SfDialog Width="500px" Height="250px" IsModal="true" @bind-Visible="IsVisible">
    <DialogTemplates>
        <Header><i class="fa fa-envelope-open" aria-hidden="true"></i> Thông báo !</Header>
        <Content><div class="ds">@dialogContent</div></Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="DialogEffect.FlipYRight" Duration=500 />
    <DialogButtons>
        <DialogButton Content="OK" IsPrimary="true" OnClick="() => CloseDialog(reset)" />
    </DialogButtons>
</SfDialog>

@code {
    public string oldPass, newPass, confirmPass;

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }
    string id;
    User user = new User();
    protected override void OnInitialized()
    {
        id = AuthStat.Result.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        user = _userService.GetUser(int.Parse(id));
    }

    public void ChangePass()
    {
        if (!string.IsNullOrEmpty(oldPass) || !string.IsNullOrEmpty(newPass) || !string.IsNullOrEmpty(confirmPass))
        {
            if (string.Equals(user.Password, _encodeHelper.Encode(oldPass)))
            {
                if (string.Equals(newPass, confirmPass))
                {
                    user.Password = _encodeHelper.Encode(newPass);
                    user.ConfirmPass = user.Password;
                    _userService.EditUser(int.Parse(id), user);
                    dialogContent = "Đổi mật khẩu thành công ";
                    reset = true;
                    OpenDialog();
                }
                else
                {
                    dialogContent = "Mật khẩu mới và xác nhận mật khẩu mới không khớp";
                    OpenDialog();
                }
            }
            else
            {
                dialogContent = "Mật khẩu cũ không đúng, vui lòng kiểm tra";
                OpenDialog();
            }
        }
        else
        {
            dialogContent = "Vui lòng kiểm tra lại";
            OpenDialog();
        }

    }

    private string dialogContent;
    private bool IsVisible { get; set; }
    private bool reset { get; set; } = false;

    private void OpenDialog()
    {
        IsVisible = true;
    }

    private void CloseDialog(bool navigate)
    {
        if (navigate)
        {
            IsVisible = false;
            navigationManager.NavigateTo("/logout?returnUrl=/", true);
        }
        else
        {
            IsVisible = false;
        }
    }

}
