@page "/forgotPassword"
@inject NavigationManager navigationManager
@layout LoginLayout
@inject Share.Interfaces.IMailSvc _mailSvc
@inject Share.Interfaces.IUserSvc _userSvc
@inject Share.Interfaces.IEncodeHelper _encodeHelper
@using Syncfusion.Blazor.Popups

@attribute [AllowAnonymous]

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Quên mật khẩu?</h1>
                                </div>
                                <form class="user" @onsubmit="@(() => ForgotPass(email))">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                               id="email" @bind="@email" aria-describedby="emailHelp" placeholder="Email"
                                               required autofocus>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" type="submit">Quên mật khẩu</button>
                                    @if (!string.IsNullOrEmpty(error))
                                    {
                                        <div class="alert alert-danger mt-3 mb-3">@((MarkupString)error)</div>
                                    }
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/login?returnUrl=/">Đăng nhập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<SfDialog Width="500px" Height="250px" IsModal="true" @bind-Visible="IsVisible">
    <DialogTemplates>
        <Header><i class="fa fa-envelope-open" aria-hidden="true"></i> Thông báo !</Header>
        <Content><div class="ds">@dialogContent</div></Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="DialogEffect.FlipYRight" Duration=500 />
    <DialogButtons>
        <DialogButton Content="OK" IsPrimary="true" OnClick="() => CloseDialog(reset)" />
    </DialogButtons>
</SfDialog>

@code{
    private string error;
    public string email = "";
    private Share.Models.User user { get; set; }

    private void ForgotPass(string mail)
    {
        Random random = new Random();
        error = "";
        if (mail != "")
        {
            if (_userSvc.CheckEmail(mail))
            {
                user = _userSvc.GetUserbyMail(email);
                var pass = random.Next(100, 300).ToString();
                _mailSvc.SendEmailAsync(mail, pass);
                user.Password = pass;
                _userSvc.EditUserbyMail(user.UserId, user);
                dialogContent = "Mật khẩu mới đã được gửi qua mail";
                OpenDialog();
            }
            else
            {
                dialogContent = "Email không tồn tại vui lòng thử lại";
                OpenDialog();
            }
        }
        else
        {
            dialogContent = "Vui lòng nhập mail";
            OpenDialog();
        }
    }

    private string dialogContent;
    private bool IsVisible { get; set; }

    private void OpenDialog()
    {
        IsVisible = true;
    }

    private void CloseDialog()
    {
        IsVisible = false;
    }
}

}
