@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject SignOutSessionStateManager SignOutManager
@inherits LayoutComponentBase
@inject IModalService modal
@inject Microsoft.Extensions.Configuration.IConfiguration config
@using Pages
<style>
    .blazored-modal {
        width: 960px;
    }

    main {
        min-height: 500px;
    }
</style>

<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo me-auto">
            <h1><a href="/">SaC Backpack</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/hero-img.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a href="/" class="nav-link" style="cursor:pointer" onclick="document.getElementById('hero').scrollIntoView({behavior:'smooth'})">Trang chủ</a></li>
                <li><a href="/products" class="nav-link" style="cursor:pointer">Sản phẩm</a></li>
                <li><a class="nav-link" style="cursor:pointer" onclick="document.getElementById('contact').scrollIntoView({behavior:'smooth'})">Liên hệ</a></li>
                <li>
                    <a class="nav-link" style="cursor:pointer" @onclick="@(() => modal.Show<CartLayout>("Thông tin giỏ hàng"))">Giỏ hàng</a>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="dropdown">
                            <a style="cursor:pointer"><span>@context.User.Identity.Name</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a class="nav-link " href="/info/@context.User.Claims.Where(_ => _.Type == "email").Select(_ => _.Value).FirstOrDefault()">Thông tin cá nhân</a></li>
                                <li><a class="nav-link " href="/history">Lịch sử đặt hàng</a></li>
                                <li><a class="nav-link " style="cursor:pointer" @onclick="BeginSignOut">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        @if (emailAddress != null && emailAddress != "")
                        {
                            <li class="dropdown">
                                <a style="cursor:pointer"><span>@cusName</span> <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li><a class="nav-link " href="/info/@customerId">Thông tin cá nhân</a></li>
                                    <li><a class="nav-link " href="/history">Lịch sử đặt hàng</a></li>
                                    <li><a class="nav-link " href="/changepass">Đổi mật khẩu</a></li>
                                    <li><a class="nav-link " href="/logout">Đăng xuất</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a style="cursor:pointer"><span>Tài khoản</span> <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li><a class="nav-link " href="/login">Đăng nhập</a></li>
                                    <li><a class="nav-link " href="/register">Đăng ký</a></li>
                                </ul>
                            </li>
                        }
                    </NotAuthorized>
                </AuthorizeView>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        @*<div class="header-social-links d-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>*@
    </div>
</header><!-- End Header -->

<main id="main">
    @Body
</main>
<CascadingBlazoredModal HideHeader="true" />
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>SaC Backpack</h3>
                        <p>
                            CVPM Quang Trung <br>
                            Quận 12, TP. HCM<br><br>

                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>LỐI TẮT</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Đăng nhập</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>DỊCH VỤ CỦA CHÚNG TÔI</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Sản phẩm</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Dịch vụ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>LIÊN HỆ</h4>
                    <strong>SĐT:</strong> 0332780105<br>
                    <strong>Email:</strong> web.sacbackpack@gmail.com<br>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="credits">

            Designed by <b>4Dev</b>
        </div>
    </div>
</footer><!-- End Footer -->
<!-- Modal -->

@code{
    string emailAddress;
    string cusName;
    int customerId;
    public Customer cus;

    protected override async Task OnInitializedAsync()
    {
        emailAddress = sessionStorage.GetItem<string>("Email");
        customerId = sessionStorage.GetItem<int>("customerId");
        if (customerId != 0)
        {
            var apiUrl = config.GetSection("API")["APIUrl"].ToString();
            var accessToken = sessionStorage.GetItem<string>("AccessToken");
            cus = new Customer();
            using (var client = new HttpClient())
            {
                client.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
                client.DefaultRequestHeaders.Add("Access-Control-Allow-Origin", "*");
                client.BaseAddress = new Uri(apiUrl);
                using (var response = await client.GetAsync("Customer/?id=" + customerId))
                {
                    string apiResponse = await response.Content.ReadAsStringAsync();
                    cus = JsonConvert.DeserializeObject<Customer>(apiResponse);
                }
                cusName = cus.FullName;
            }
        }

    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        navigationManager.NavigateTo($"authentication/logout");
    }

}
